<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bugstack.infrastructure.dao.IGroupBuyOrderDao">

    <resultMap id="dataMap" type="cn.bugstack.infrastructure.dao.po.groupbuy.GroupBuyOrder">
        <id column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="user_id" property="userId"/>
        <result column="team_id" property="teamId"/>
        <result column="activity_id" property="activityId"/>
        <result column="product_id" property="productId"/>
        <result column="product_name" property="productName"/>
        <result column="quantity" property="quantity"/>
        <result column="source" property="source"/>
        <result column="channel" property="channel"/>
        <result column="original_amount" property="originalAmount"/>
        <result column="deduction_amount" property="deductionAmount"/>
        <result column="pay_amount" property="payAmount"/>
        <result column="status" property="status"/>
        <result column="out_trade_no" property="outTradeNo"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="insert" parameterType="cn.bugstack.infrastructure.dao.po.groupbuy.GroupBuyOrder">
        insert into group_buy_order(
        order_id, user_id, team_id, activity_id, product_id,
        product_name, quantity, source, channel, original_amount,
        deduction_amount, pay_amount, status, out_trade_no, create_time, update_time
        ) values(
        #{orderId}, #{userId}, #{teamId}, #{activityId}, #{productId},
        #{productName}, #{quantity}, #{source}, #{channel}, #{originalAmount},
        #{deductionAmount}, #{payAmount}, #{status}, #{outTradeNo}, now(), now()
        )
    </insert>

    <select id="queryGroupBuyOrderByOutTradeNo" resultMap="dataMap">
        select id, order_id, user_id, team_id, activity_id, product_id,
               product_name, quantity, source, channel, original_amount,
               deduction_amount, pay_amount, status, out_trade_no, create_time, update_time
        from group_buy_order
        where user_id = #{userId}
          and out_trade_no = #{outTradeNo}
        limit 1
    </select>

    <select id="queryOrderCountByUserIdAndActivityId" resultType="java.lang.Integer">
        select count(id)
        from group_buy_order
        where user_id = #{userId}
          and activity_id = #{activityId}
    </select>

    <update id="updateOrderStatus2Complete">
        update group_buy_order
        set status = 1,
            update_time = now()
        where user_id = #{userId}
          and out_trade_no = #{outTradeNo}
          and status = 0
    </update>

    <select id="queryUserIdListByTeamId" parameterType="java.lang.String" resultType="java.lang.String">
        select user_id from group_buy_order where team_id = #{teamId}
    </select>

    <select id="queryCompleteOutTradeNoListByTeamId" parameterType="java.lang.String" resultType="java.lang.String">
        select out_trade_no from group_buy_order where team_id = #{teamId} and status = 1
    </select>

</mapper>
