<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bugstack.infrastructure.dao.ISupplierDao">

    <insert id="insert" parameterType="cn.bugstack.infrastructure.dao.po.Supplier"
            useGeneratedKeys="true" keyProperty="id">
        insert into supplier
        (supplier_code, name, contact_name, contact_phone, address, status, is_del, create_time, update_time)
        values
        (#{supplierCode}, #{name}, #{contactName}, #{contactPhone}, #{address}, #{status}, #{isDel}, #{createTime}, #{updateTime})
    </insert>

    <update id="deleteById" parameterType="java.lang.Long">
        update supplier
        set is_del = 1,
        update_time = now()
        where id = #{id}
        and is_del = 0
    </update>

    <select id="queryById" parameterType="java.lang.Long" resultType="cn.bugstack.infrastructure.dao.po.Supplier">
        select
        id,
        supplier_code,
        name,
        contact_name,
        contact_phone,
        address,
        status,
        is_del,
        create_time,
        update_time
        from supplier
        where id = #{id}
        and is_del = 0
    </select>

    <update id="update" parameterType="cn.bugstack.infrastructure.dao.po.Supplier">
        update supplier
        set supplier_code = #{supplierCode},
        name = #{name},
        contact_name = #{contactName},
        contact_phone = #{contactPhone},
        address = #{address},
        status = #{status},
        update_time = now()
        where id = #{id}
        and is_del = 0
    </update>

</mapper>
