<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bugstack.infrastructure.dao.IUserDao">

    <insert id="insert" parameterType="cn.bugstack.infrastructure.dao.po.user.User">
        insert into user(user_id, password, nickname, avatar, phone, status, role, create_time, update_time)
        values (#{userId}, #{password}, #{nickname}, #{avatar}, #{phone},
                <choose>
                    <when test="status != null">#{status}</when>
                    <otherwise>1</otherwise>
                </choose>,
                <choose>
                    <when test="role != null">#{role}</when>
                    <otherwise>0</otherwise>
                </choose>,
                now(), now())
    </insert>

    <select id="queryByUserId" parameterType="string" resultType="cn.bugstack.infrastructure.dao.po.user.User">
        select id, user_id, password, nickname, avatar, phone, status, role, create_time, update_time
        from user
        where user_id = #{userId}
        limit 1
    </select>

    <select id="queryByAccount" parameterType="string" resultType="cn.bugstack.infrastructure.dao.po.user.User">
        select id, user_id, password, nickname, avatar, phone, status, role, create_time, update_time
        from user
        where user_id = #{account} or phone = #{account}
        limit 1
    </select>

    <update id="updateProfile" parameterType="cn.bugstack.infrastructure.dao.po.user.User">
        update user
        set phone = #{phone},
            password = #{password},
            nickname = #{nickname},
            update_time = now()
        where user_id = #{userId}
    </update>

    <update id="updateInfo" parameterType="cn.bugstack.infrastructure.dao.po.user.User">
        update user
        <set>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="password != null">password = #{password},</if>
            update_time = now()
        </set>
        where user_id = #{userId}
    </update>

    <update id="updateRole" parameterType="cn.bugstack.infrastructure.dao.po.user.User">
        update user
        set role = #{role},
            update_time = now()
        where user_id = #{userId}
    </update>

</mapper>
