<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bugstack.infrastructure.dao.IWarehouseDao">

    <insert id="insert" parameterType="cn.bugstack.infrastructure.dao.po.Warehouse"
            useGeneratedKeys="true" keyProperty="id">
        insert into warehouse
        (warehouse_code, name, type, address, contact_name, contact_phone, status, is_del, create_time, update_time)
        values
        (#{warehouseCode}, #{name}, #{type}, #{address}, #{contactName}, #{contactPhone}, #{status}, #{isDel}, #{createTime}, #{updateTime})
    </insert>

    <update id="deleteById" parameterType="java.lang.Long">
        update warehouse
        set is_del = 1,
        update_time = now()
        where id = #{id}
        and is_del = 0
    </update>

    <select id="queryById" parameterType="java.lang.Long" resultType="cn.bugstack.infrastructure.dao.po.Warehouse">
        select
        id,
        warehouse_code,
        name,
        type,
        address,
        contact_name,
        contact_phone,
        status,
        is_del,
        create_time,
        update_time
        from warehouse
        where id = #{id}
        and is_del = 0
    </select>

    <update id="update" parameterType="cn.bugstack.infrastructure.dao.po.Warehouse">
        update warehouse
        set warehouse_code = #{warehouseCode},
        name = #{name},
        type = #{type},
        address = #{address},
        contact_name = #{contactName},
        contact_phone = #{contactPhone},
        status = #{status},
        update_time = now()
        where id = #{id}
        and is_del = 0
    </update>

</mapper>
