<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bugstack.infrastructure.dao.IWarehouseStockFlowDao">
    <insert id="insert"
            parameterType="cn.bugstack.infrastructure.dao.po.warehouse.WarehouseStockFlow"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into warehouse_stock_flow
        (warehouse_id, product_id, quantity, biz_type, biz_no, reason, is_del, create_time)
        values
        (#{warehouseId}, #{productId}, #{quantity}, #{bizType}, #{bizNo}, #{reason}, #{isDel}, #{createTime})
    </insert>
</mapper>
